@import "../../variables.modules";

i {
  padding-left: 0.5rem;
  color: $white;
  animation: changeColors 3s infinite;
  
  &.red {
    color: $red;

  }

  &.amber {
    color: $yellow;
  }

  &.green {
    color: $green;
  }
}

.commit {
  margin: 1rem 0;
  color: $white;
  animation: changeColors 6s infinite;
}

.terminal {
  p, li {
    margin: 1rem 0;
    color: $white;
  }

  a, a:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
  }
}

@keyframes changeColors {
  0% {
    color: #E4ff00;
  }
  100% {
    color: #43ff00;
  }
}